
.hero {
  position: relative;
  width: 100%;
  height: 100vh; 
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);  
  z-index: 1;  
}


.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
  display: flex;
  flex-direction: column; /* Ensures vertical alignment */
  align-items: center; /* Centers all elements horizontally */
}

.hero-title {
  font-size: 3rem;
  font-weight: bolder;
  
}

.hero-description {
  font-size: 1.25rem;
  margin-top: 1rem;
  font-weight: 300;
}
.sephbutton {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-top: 1.5rem; 
}


.abt{
text-align: center;
}

.abt h2 {
  font-size: 2rem;
  margin-top:3rem;
  margin-bottom: 50px;
  color: #0e6983; 
}
.mission {
  font-size: 1.2rem;
  color: #666;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.vision {
  background-color: white;
  color: dark grey;
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
  padding:10px 20px;
  margin-bottom:40px;
  border-radius:15px;
}
.vision p{
  font-size: 1.2rem;
  color: rgb(135, 131, 131);
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
  
}

.vision h2 {
  color: #0e6983; 
  margin:1rem;
}
@media (max-width: 600px){
  .abt h2 {
    font-size: 2rem;
    margin-top:3rem;
    margin-bottom: 50px;
    color: #0e6983; 
  }
  .mission {
    font-size: 1.15rem;
    color: #666;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px 20px;
  }
  .vision {
    background-color: white;
    color: dark grey;
    max-width: 400px;
    margin: 0 auto;
    padding:10px 20px;
    margin-bottom:40px;
    border-radius:15px;
  }
  .vision p{
    font-size: 1.15rem;
    color: rgb(135, 131, 131);
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
    
  }
  
  .vision h2 {
    color: #0e6983; 
    margin:1rem;
  }
}


/*Testimonials*/
.testimonials {
  text-align: center;
  padding: 60px 20px;
  background: #f9f9f9;
}

.testimonials h2 {
  font-size: 2rem;
  margin-bottom: 50px;
  color: #0e6983; 
}

.testimonials-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.testimonial {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 320px;
  text-align: center;
  transition: transform 0.3s;
}

.testimonial:hover {
  transform: translateY(-5px);
}

.testimonial img {
  width: 100%;
  height: 50%;
  border-radius:10px;
  margin-bottom: 10px;
}

.testimonial .name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.testimonial .review {
  font-size: 1rem;
  color: #555;
  margin: 10px 0;
}

.stars {
  color: #ffcc00;
  font-size: 1.2rem;
}


/* Footer */
.footer {
  background: #d7dee0;
  padding: 2rem 0;
  margin-top: 3rem;
}

.footer-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
  color: #1f4650;
}

@media (max-width: 768px) {
  .features {
    grid-template-columns: 1fr;
  }
}